#root {font-size: 12px;}
.h10 {height: 10px; background-color: #000;}
.m-tb10 {margin: 10px 0;}

.coding-apple {
    .black-nav {display: flex; background-color: #000; color: #fff;}
    .list + .list {border-top: 1px solid #000;}
}

.soaple {
    .user-info {
        .avatar {width: 15px;}
    }
}

.roulette {
    transition: all ease 4s;
    // &.act {animation: rotate 0.2s linear infinite;}
    &.act {transform: rotate(3600deg);}
    // &:hover {animation: rotate 0.2s linear infinite;}
    circle {transform-origin: center;}
    text {font-size: 8px; text-anchor: start;}

    // circle:nth-child(1) {transform: rotate(0deg);}

    @for $i from 1 through 10 {
        circle:nth-child(#{$i}) {
            transform: rotate(90deg*$i);
        }
    }
}

@keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      -o-transform: rotate(359deg);
      transform: rotate(359deg);
    }
}